<%- include('./partials/nav') %>

    
    <div class="home">
        <div class="welcoming">
            <h1>Welcome to Shelfie</h1>
            <a href="/to-borrow" class="home-btn">Browse Books to Borrow</a>
        </div>
    </div>
    
</body>
</html>