body {
    background-color: rgb(78 19 39 / 36%);
    justify-items: center;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    min-width: 100%;
    justify-content: center;
    background-color: rgb(40 20 22);
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    gap: 5rem;
}

nav a {
    text-decoration: none;
    color: #f5f6f3;
    align-content: center;
}

.nav-links {
    display: flex;
    gap: 60px;
}

.signing {
    display: flex;
    gap: 2rem;
}

.signing button {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 14px;
    background-color: rgb(78, 19, 39);
}

.logo {
    display: flex;
    gap: 10px;
}

.home {
    /* background-image: url('https://images.pexels.com/photos/2946974/pexels-photo-2946974.jpeg'); */
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.368), rgba(0, 0, 0, 0)), url('https://images.pexels.com/photos/19582451/pexels-photo-19582451.jpeg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    min-width: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.welcoming {
    color: rgb(255, 255, 255);
    margin: 8rem 10rem;
    font-size: 26px;
}

.welcoming h1 {
    text-shadow: -4px -1px rgb(0, 0, 0);
    font-weight: bolder;
}

.home-btn {
    padding: 12px 24px;
    background-color: #a3676c;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 20px;
}

.borrow-request {
    padding: 20px;
    background-color: rgb(78 19 39 / 49%);
    border-radius: 16px;
    width: 60%;
    justify-items: center;
    margin-bottom: 20px;
}

.action-btn {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.add-book {
    padding: 10px 23px;
    background-color: rgb(78, 19, 39);
    color: white;
    border-radius: 16px;
    display: flex;
    justify-self: right;
    margin-right: 5%;
    margin-bottom: 2rem;
    text-decoration: none;
}

.book-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

.book-card {
    padding: 10px;
    background-color: rgba(218, 211, 211, 0.81);
    position: relative;
    max-width: 200px;
    height: 400px;
    margin-bottom: 2rem;
}

.book-card>img {
    height: 250px;
}

.book-main-info {
    display: flex;
    flex-direction: column;
}

.book-card h2,
p {
    margin-bottom: 14px;
    margin-left: 0.5rem;
}

.borrowed-card {
    padding: 10px;
    background-color: rgba(218, 211, 211, 0.81);
    position: relative;
    max-width: 200px;
    height: 450px;
    margin-bottom: 2rem;
}

.borrowed-card>img {
    height: 250px;
}

.borrowed-card h2,
p {
    margin: 14px 0 0 0.5rem;
}

.badge {
    background-color: #b65050;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.book-details-section {
    display: flex;
    gap: 3.5rem;
    margin: 3rem;
}

.book-details-section>img {
    height: 450px;
}

.book-img-status {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.book-status {
    padding: 10px;
    background-color: rgb(78, 19, 39);
    color: white;
    border-radius: 12px;
    border: none;
}

.book-details h2 {
    margin-bottom: 10px;
}

.book-details p:first-of-type {
    margin-top: 35px;
}

.book-details p {
    margin-left: 0;
    font-size: 18px;
}

.genres-sec {
    display: flex;
    gap: 10px;
}

.owner-manage {
    display: flex;
    gap: 3%
}

.owner-manage button {
    width: 200px;
    background-color: rgb(224 182 182 / 37%);
    border-radius: 8px;
    border: 1px solid rgb(78, 19, 39);
    padding: 8px 16px;
    font-size: 12px;
}

.genres {
    background-color: rgb(224, 182, 182);
    border-radius: 14px;
    border: 1.5px solid rgb(171, 127, 127);
    padding: 5px 16px;
}

.return-btn {
    margin-top: 1rem;
    background-color: rgb(78, 19, 39);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 9px 28px;
}